h1 {
    text-align: center;
    background-color:blanchedalmond;
}
nav.menu{
    text-align: center;
    background-color: greenyellow;display: block;;
}
div.orange{
    background-color: orange;
}
div.blue{
    background-color: blue;
    text-align: center;
}
span.groc{
    background-color: yellow;
    text-align: center;
}
